@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css');

*{
	font-family: 'Open Sans', 'sans-serif', 'FontAwesome';
}

body{
    background: rgb(246, 227, 198);
}

#non{
	display: none;
}
#maine {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 1rem;
}
h1{
	color: rgb(255, 255, 255);
	margin: 20px auto 0;
	width: 200px;
	text-align: center;
}
#wrapper{
	position: absolute;
	width: 320px;
	left: 50%;
	margin-left: -160px;
	top: 50%;
	margin-top: -75px;
}
#one {
	position: fixed;
	top: 80px;
	left: 10px;
}


/* === Sign in Form === */
#signin {
	height: 90px;
	width: 300px;
	border-radius: 8px;
	position: relative;
}
#signin::before {
	display: block;
	position: relative;
	height: 2px;
	background: rgb(7, 110, 60);
	content: '';
	top: 44px;
	margin-left: 20px;
	z-index: 1;
}
#signin input:first-of-type{
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}
#signin input:last-of-type{
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}
#signin  input[type="text"], #signin  input[type="password"], #signin button[type="submit"]{
	background: rgb(56, 110, 255);
	box-shadow: inset -100px -100px 0 rgb(28, 30, 33); /*Prevent yellow autofill color*/
	color: rgb(56, 110, 255);
}
#signin  input[type="text"], #signin  input[type="password"]{
	position: relative;
	display: block;
	width: 280px;
	height: 45px;
	border: 0;
	outline: 0;
	top: -2px;
	padding: 0 0 0 20px;
	font-weight: 700;
}
#signin  input[type="text"]:focus, #signin  input[type="password"]:focus{
	color: rgb(255, 255, 255);
}

#signin  select[type="select"]:focus{
	color: rgb(255, 255, 255);
}
#signin  select[type="select"], #signin  select[type="text"]{
	background: rgb(56, 110, 255);
	box-shadow: inset -100px -100px 0 rgb(28, 30, 33); /*Prevent yellow autofill color*/
	color: rgb(56, 110, 255);
}
#signin  select[type="select"], #signin  select[type="text"]{
	position: relative;
	display: block;
	width: 280px;
	height: 45px;
	border: 0;
	outline: 0;
	top: -2px;
	padding: 0 0 0 20px;
	font-weight: 700;
}
#signin select:first-of-type{
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}
#signin select:last-of-type{
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}
#signin button[type="submit"]{
	display: block;
	position: absolute;
	width: 52px;
	height: 52px;
	color: rgb(7, 110, 60);
	border-radius: 50px;
	outline: 0;
	z-index: 2;
	top: 19px;
	right: -24px;
	border: 6px solid rgb(52, 56, 61);
	font-size: 25px;
	text-indent: 0px;
	padding-left: 9px;
	padding-bottom: 3px;
	text-align: center;
}
#signin button[type="submit"]:hover{
	color: rgb(0, 126, 165);
	text-shadow: 0 0 10px rgb(0, 126, 165);
	cursor: pointer;
}
#signin p {
	color: rgb(7, 110, 60);
	padding: 0 20px;
	font-weight: 700;
	font-size: 12px;
	margin: 5px 0 0 0;
}
#signin p > a{
	color: rgb(111, 119, 135);
	text-decoration: none;
}
#signin p > a:hover{
	border-bottom: 1px solid;
}
.myButtonMenu {
	width: 120px;
	background-color:#a3b3ae;
	border-radius:28px;
	border:1px solid #bd5b2d;
	display:inline-block;
	cursor:pointer;
	color:#121012;
	font-family:Arial;
	font-size:13px;
	padding:7px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #471515;
}
.myButtonMenu:hover {
	background-color:#807a77;
}
.myButtonMenu:active {
	position:relative;
	top:1px;
}

.ButtonSubmit {
	box-shadow: -1px -1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#33bdef;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:-1px 2px 9px #5b6178;
}
.ButtonSubmit:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	background-color:#019ad2;
}
.ButtonSubmit:active {
	position:relative;
	top:1px;
}


.ButtonForAdmin {
	width: 150px;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.ButtonForAdmin:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}
.ButtonForAdmin:active {
	position:relative;
	top:1px;
}

.ButtonForAdminBody {
	width: 150px;
	background-color:#d95353;
	border-radius:28px;
	border:1px solid #bd5b2d;
	display:inline-block;
	cursor:pointer;
	color:#121012;
	font-family:Arial;
	font-size:13px;
	padding:7px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #471515;
}
.ButtonForAdminBody:hover {
	background-color:#e07945;
}
.ButtonForAdminBody:active {
	position:relative;
	top:1px;
}

.ButtonAdmin {
	width: 250px;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:4px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:5px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.ButtonAdmin:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.ButtonAdmin:active {
	position:relative;
	top:1px;
}

table.AdminTable{
	width: 70%;
	border-collapse:collapse;
	border-spacing:0;
	height: auto;
}
table.AdminTable,table.AdminTable td, table.AdminTable th {
	border: 1px solid #595959;
}
table.AdminTable td,table.AdminTable th {
	padding: 3px;
	width: 15px;
	height: 35px;
}
table.AdminTable th {
	background: #347c99;
	color: #fff;
	font-weight: normal;
}




